body.debug .container,
body.debug .container-fluid {
    outline: 2px double blue;
    outline-offset: -2px;
}

body.debug .row {
    outline: 2px dashed red;
    outline-offset: -2px;
}

body.debug [class*="col-"] {
    outline: 2px dotted forestgreen;
    outline-offset: -3px;
}

body {
    background-image: url(https://images.unsplash.com/photo-1559499224-8301eefa1199?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1026&q=80);
    background-size: cover;
    background-position: top;

}

h1 {
    font-family: 'Tektur', cursive;
}

button {
    background-color: rgba(196, 255, 255, 0.733);
    border-radius: 8px;
    height: 40px;
    margin-left: 2em;
    margin-right: 2em;
}

section#gameplay {
    position: absolute;
    bottom: 20px;


}

section.scoreboard {
    background-color: rgba(196, 255, 252, 0.733);
    border: 1px;
    border-radius: 8px;
    padding: .5em;
}